body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    user-select: none;
}

.hide {
    display: none !important;
}

.show {
    display: flex;
}

p {
    margin: 0;
}

.header {
    display: flex;
    position: relative;
}

.title-header h1 {
    margin-top: 50px;
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 30px;
}

.title-header h1 span {
    font-size: 20px;
}

.img-header {
    width: 100%;
    margin-bottom: -10px;
}

.img-header img {
    width: 100%;
    filter: brightness(40%) grayscale(20%);
    transition: ease 0.3s;
}

.img-header img:hover {
    filter: brightness(100%) grayscale(0);
}

.img-header p {
    position: absolute;
    top: 680px;
    color: #f4f6f6;
    margin-left: 20px;
}

.img-header p span {
    margin-left: 10px;
    letter-spacing: 6px;
}

.title-header {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    z-index: 100;
    color: white;
}

.container-body {
    width: 60%;
    margin: 0 auto;
}

.counter-content {
    display: flex;
    width: 100%;
    height: 400px;
}

.img-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    overflow: hidden;
}

.img-counter img {
    width: auto;
    height: 100%;
}

.img-counter button {
    position: absolute;
    z-index: 1;
    height: 50px;
    width: 150px;
    border: none;
    background-color: white;
    font-weight: 500;
}

.img-counter button:before {
    position: absolute;
    width: 150px;
    height: 50px;
    top: 0;
    left: 0;
    content: '';
    z-index: -1;
    background-color: #4a5662;
    box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.5);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}

.img-counter button:hover:before {
    transform: scaleX(1);
}

.img-counter button:hover {
    color: white;
}

.counter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 60%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.counter div {
    width: 50%;
}

.counter h2 {
    font-weight: 500;
    margin-bottom: 10px;
}

.counter p {
    color: #7a8891;
    font-size: 14px;
    letter-spacing: 2px;
}

.no-container-body {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    height: auto;
}

.menu-services {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4a5662;
    height: 600px;
}

.menu-services > h4 {
    margin-left: -40px;
    margin-top: 40px;
    color: white;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px;
}

h4 > span {
    border-bottom: #62d4a4 2px solid;
}

.menu-services ul {
    margin-top: 40px;
}

.menu-services li {
    display: flex;
    position: relative;
    align-items: center;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    letter-spacing: 2px;
}

.menu-services li p {
    color: #7a8891;
    width: 100%;
}

.menu-services li:hover p {
    color: white;
}

li > img {
    height: 20px;
    filter: invert(1);
    opacity: 0.5;
    margin-right: 20px;
}

.menu-services li:hover > img {
    opacity: 1;
}

.content-services {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-services div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 70%;
    padding: 100px 40px 100px 100px;
}

.content-services div > img {
    height: 80px;
}

.content-services p {
    line-height: 30px;
    color: #7a8891;
}

.content-services button {
    position: relative;
    z-index: 1;
    margin-top: 15px;
    height: 40px;
    width: 100px;
    border: none;
    background-color: #4a5662;
    color: white;
}

.content-services button:before {
    position: absolute;
    width: 100px;
    height: 40px;
    top: 0;
    left: 0;
    content: '';
    z-index: -1;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.15s ease-in-out;
}

.content-services button:hover:before {
    transform: scaleX(1);
}

.content-services button:hover {
    color: #33373b;
}

.get-started {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/image_11.jpg");
    height: 150px;
    background-size: cover;
    width: 40%;
}

.get-started > button {
    position: relative;
    z-index: 1;
    border: none;
    width: 140px;
    height: 60px;
    background-color: white;
    margin-right: 20px;
    font-weight: 600;
}

.get-started > button:before {
    position: absolute;
    width: 140px;
    height: 60px;
    top: 0;
    left: 0;
    content: '';
    z-index: -1;
    background-color: #4a5662;
    box-shadow: 0px 0px 4px 1px rgba(255, 255, 255, 0.5);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}

.get-started > button:hover:before {
    transform: scaleX(1);
}

.get-started > button:hover {
    color: white;
}

.get-started p {
    font-size: 24px;
    color: white;
    margin-left: 20px;
    letter-spacing: 1px;
    text-shadow: 0px 0px 10px black;
}

.portfolio {
    margin-top: 80px;
    margin-bottom: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    height: 1100px;
}

.portfolio-row-1, .portfolio-row-1-2 {
    margin-right: 20px;
    width: 30%;
    height: 100%;
}

.portfolio-row-2 {
    width: 70%;
    height: 100%;
}

.portfolio-row-1 > div:nth-child(1) {
    height: 15%;
    width: 100%;
}

.portfolio-row-1 > div:nth-child(2) {
    height: 45%;
    width: 100%;
    margin-bottom: 20px;
}

.portfolio-row-1 > div:nth-child(3) {
    height: 20%;
    width: 100%;
    margin-bottom: 20px;
}

.portfolio-row-1 > div:nth-child(4) {
    height: 20%;
    width: 100%;
}

*.portfolio-row-1 div img {
    width: 100%;
    height: 100%;
}

.portfolio-row-2 > div:nth-child(1) {
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
}

.portfolio-row-2 > div:nth-child(2) {
    display: flex;
    width: 100%;
    height: 20%;
    margin-bottom: 20px;
}

.portfolio-row-2 > div:nth-child(3) {
    display: flex;
    width: 100%;
    height: 30%;
}

.portfolio-row-2 > div:nth-child(2) > div:nth-child(1) {
    height: 100%;
    width: 50%;
    margin-right: 20px;
}

.portfolio-row-2 > div:nth-child(2) > div:nth-child(2) {
    height: 100%;
    width: 50%;
}

.portfolio-row-2 > div:nth-child(3) > div:nth-child(1) {
    height: 100%;
    width: 60%;
    margin-right: 20px;
}

.portfolio-row-2 > div:nth-child(3) > div:nth-child(2) {
    height: 100%;
    width: 40%;
}

*.portfolio-row-2 div img {
    width: 100%;
    height: 100%;
}

h3 {
    padding: 0;
    margin: 0;
}

.zoom-img img:nth-child(3), .zoom-img-grid img:nth-child(3) {
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    filter: invert(1);
    height: 30px;
    width: 30px;
    opacity: 0;
}

.portfolio-grid {
    margin-bottom: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

*.zoom-img-grid img:nth-child(2) {
    width: 100%;
    height: 100%;
}

.zoom-img-grid {
    width: 32%;
    height: 350px;
    margin-top: 20px;
}

.zoom-img, .zoom-img-grid {
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.zoom-img:hover img:nth-child(3), .zoom-img-grid:hover img:nth-child(3) {
    transition: ease 1s;
    opacity: 1;
}

.zoom-img:hover img:nth-child(2), .zoom-img-grid:hover img:nth-child(2) {
    transition: ease 1s;
    transform: scale(1.2);
    filter: brightness(40%) grayscale(30%);
}

.zoom-img:hover p, .zoom-img-grid:hover p {
    opacity: 1;
    transition: ease 1s;
}

.zoom-img p, .zoom-img-grid p {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 30px;
    opacity: 0;
    color: white !important;
}

.portfolio h3 {
    letter-spacing: 2px;
    font-weight: 500;
}

.portfolio p {
    margin-top: 14px;
    color: #7a8891;
    line-height: 30px;
}

.triangle {
    position: absolute;
    right: -380px;;
    height: 0;
    width: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 16px solid #4a5662;
}

.hamburger-menu {
    height: 2px;
    width: 15px;
    background-color: #ffffff;
}

.test {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 200;
    top: 40px;
    right: 50px;
    height: 50px;
    width: 50px;
}

.hamburger-menu:after {
    position: absolute;
    content: '';
    top: 16px;
    left: 0;
    height: 2px;
    width: 25px;
    background-color: #ffffff;
}

.hamburger-menu:before {
    position: absolute;
    content: '';
    top: 32px;
    left: 0;
    height: 2px;
    width: 25px;
    background-color: #ffffff;
}

.nav {
    position: absolute;
    right: 0;
    z-index: 201;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 740px;
    width: 30%;
    background-color: #33373b;
}

.nav span {
    color: #a6a7ac;
    margin-right: 15px;
    font-size: 12px;
    text-decoration: underline;
}

.nav p {
    text-align: center;
    color: white;
}

.nav li {
    list-style: none;
    margin-top: 20px;
}

.nav li a {
    text-decoration: none;
    color: white;
}

.nav a:hover {
    color: #62d4a4;
}

ul {
    margin: 0 150px;
    padding: 0;
}

.cross {
    position: absolute;
    z-index: 201;
    top: 40px;
    right: 40px;
    height: 2px;
    width: 20px;
    background-color: white;
    transform: rotate(45deg);
}

.cross:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 20px;
    background-color: white;
    transform: rotate(90deg);
}

.comments-client {
    margin-top: 50px;
}

.client-says {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    height: auto;
    background-color: #4a5662;
}

.container-client {
    margin-top: 50px;
    width: 50%;
}

.client-says h3 {
    color: white;
    letter-spacing: 2px;
    font-weight: 500;
}

.client-says p {
    padding-right: 80px;
    color: #7a8891;
    line-height: 30px;
}

.comments {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: auto;
    padding-bottom: 50px;
}

.comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    border: #dadcdd 1px solid;
    margin-left: 20px;
    border-radius: 5px;
}

picture {
    position: relative;
}

.quote {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #62d4a4;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    top: 100px;
    left: 80px;
}

.quote img:nth-child(1) {
    filter: invert(1);
    height: 20px;
    width: 20px;
    margin: 0;
}

.comment img {
    position: relative;
    margin: 30px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.comment p:nth-child(2) {
    margin-top: 20px;
    padding: 0 60px 0 60px;
    text-align: center;
    line-height: 24px;
    color: #7a8891;
}

.comment p:nth-child(3) {
    margin-top: 50px;
    color: #62d4a4;
}

.comment p:nth-child(4) {
    margin-top: 10px;
    margin-bottom: 50px;
    color: #7a8891;
}

.container-bottom {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    background-color: #eff1f3;
}

.container-card {
    margin-top: 120px;
    margin-bottom: 120px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 300px;
    background-color: white;
    padding: 0px 20px 20px 0px;
}

.card img {
    margin-top: 40px;
    height: 80px;
    width: 80px;
}

.card p:nth-child(3) {
    text-align: center;
    padding: 16px;
    line-height: 24px;
    color: #7a8891;
}

.card p:nth-child(4) {
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 10px;
    color: #7a8891;
}

.card p:nth-child(4) span {
    font-size: 12px;
    margin-left: 10px;
    color: #b6c4c6;
}

.card button {
    position: relative;
    z-index: 1;
    margin-top: 24px;
    height: 42px;
    width: 100px;
    border: none;
    background-color: #4a5662;
    color: white;
}

.card button:before {
    position: absolute;
    width: 100px;
    height: 42px;
    top: 0;
    left: 0;
    content: '';
    z-index: -1;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.5);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.15s ease-in-out;
}

.card button:hover:before {
    transform: scaleX(1);
}

.card button:hover {
    color: #33373b;
}

.card p:nth-child(6) {
    margin-top: 20px;
    color: #62d4a4;
}

.footer {
    background-color: #1a202c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}

.icon-footer {
    display: flex;
}

.icon-footer img {
    height: 60px;
    width: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer p {
    color: white;
}

.footer p:nth-child(2) {
    margin-top: 30px;
}

.footer p:nth-child(3) {
    margin-top: 14px;
    letter-spacing: 6px;
}

.footer p:nth-child(4) {
    margin-top: 50px;
    color: #8f9793;
    font-size: 12px;
}

.footer p:nth-child(4) span {
    color: red;
    font-size: 20px;
}

.title-page h2 {
    margin-top: 50px;
    width: 10%;
    padding-left: 20%;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: #33373b;
    color: white;
    letter-spacing: 3px;
    font-weight: normal;
}

.about {
    display: flex;
}

.about div:nth-child(1) {
    width: 20%;
}

.about div:nth-child(2) {
    width: 80%;
}

.about div:nth-child(1) img {
    border-radius: 50%;
    width: 100%;
}





